<form #f="ngForm">
  <div class="form-group">
    <input [(ngModel)]="myTask" name="myTask" type="text" class="form-control" placeholder="Enter Task" required>
  </div>
  <p *ngIf="loading">
    <i class="fa fa-spinner fa-spin"></i>
  </p>
  <div class="form-group">
    <button type="button" class="btn btn-primary" [disabled]="!f.valid" (click)="saveTask()">
      Save Task
    </button>
    <button type="button" class="btn btn-primary" (click)="printClient()">
      Print Client
    </button>
    <button type="button" class="btn btn-primary" (click)="printUser()">
      Print User
    </button>
  </div>



  <table>
    <tr *ngFor="let task of tasks | async; let i=index" [attr.data-index]="i">
      <td>{{i + 1}}</td>
      <td>{{task.description}}</td>
      <td>{{task.docId}}</td>
      <td>
        <button class="btn btn-success" (click)="edit(task)">
          <i class="fa fa-edit">Edit</i>
        </button>
        <button class="btn btn-danger" (click)="deleteTask(task)">
          <i class="fa fa-remove">Delete</i>
        </button>
      </td>
    </tr>
  </table>

</form>